
.app-wrapper{
  display: grid;

  grid-template-areas:
   "header header"
   "navigator content"
  ;
   
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;

  
}

.header{
  grid-area: header;
  background-color: rgb(192, 170, 170);
}

.navigator{
  grid-area: navigator;
  background-color: rgb(73, 99, 133);
}

.content{
  grid-area: content;
  background-color: rgb(74, 128, 153);
}



.header img{
  width: 100px;
}

.Profile img{
  height: 250px;
  width: 1000px;
}